Data/RandData_DS3_train_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS3_train_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS4_test_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS4_train_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS5_test_data.processed filter=lfs diff=lfs merge=lfs -text
Data/RandData filter=lfs diff=lfs merge=lfs -text
Data/GridData filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS1_test_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS1_train_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS2_test_data.processed filter=lfs diff=lfs merge=lfs -text
Data/RandData_DS1_train_data.processed filter=lfs diff=lfs merge=lfs -text
Data/RandData_DS2_train_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS3_all_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS3_test_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS5_train_data.processed filter=lfs diff=lfs merge=lfs -text
Data/RandData_DS1_test_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS5_all_data.processed filter=lfs diff=lfs merge=lfs -text
Data/RandData_DS2_test_data.processed filter=lfs diff=lfs merge=lfs -text
Data/RandData_DS3_test_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS1_all_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS2_all_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS2_train_data.processed filter=lfs diff=lfs merge=lfs -text
Data/GridData_DS4_all_data.processed filter=lfs diff=lfs merge=lfs -text
